<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle Game</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Welcome to my Battle Game</h1>
    <div id="game-container">
        <% board.forEach((square)=> { %>
            <div class="square" id=<%=square.id%>><span class="tile-display"></span></div>
        <% }) %>
    </div>
    <div class="modal">
        <div class="modal-header">
            <span class="close-button">&times;</span>
            <h2>Tile <span class="tile-location">-1</span></h2>
        </div>
        <div class="modal-body">
            <p>Friendly Troops: <span class="tile-friendly-troops">-1</span></p>
            <p>Enemy Troops: <span class="tile-enemy-troops">-1</span></p>
            <button type="button" id="initiate-battle-button" class="hidden">Initiate Battle</button><br>
            <input type="number" id="move-troop-count" min="0">
            <button type="button" id="move-troops-button">Move Troops</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
