<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle Game Menu</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <button type="button" class="host-join-button">Join as Host</button>
    <button type="button" class="guest-join-button">Join as Guest</button>
    <a href="/game" class="start-game-button">Start Game</a>
    <h2 class="server-message"></h2>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="js/menu.js"></script>
</body>
</html>
