body {
    font-family: sans-serif;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(20, 50px);
    gap: 5px;
}

.square {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border: 1px solid #ccc;
    cursor: pointer;
    box-sizing: border-box;
}

.square.selected {
    border: 4px solid #464646;
}

.square.not-available {
    background-color: #868686;
    pointer-events: none;
}

.square:hover {
    background-color: darkgray;
}

#initiate-battle-button{
    visibility: visible;
}

#initiate-battle-button.hidden{
    visibility: hidden;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 1000;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}


.modal.open {
    display: block;
    transform: translateX(0);
}


.modal-header {
    padding: 16px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.modal-body {
    padding: 16px;
}

.close-button {
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.troop-display.friendly {
    color: rgb(0, 0, 185);
}

.troop-display.enemy {
    color: rgb(162, 0, 0);
}